<div class="details-panel">
    <div class="tab-navigation">
        <button class="tab-button active">Appointment Info</button>
        <!-- <button class="tab-button">Treatment progress</button> -->
    </div>

    <div class="details-section">
        <h3>Details</h3>
        <div class="detail-item">
            <i class="far fa-calendar"></i>
            {{ details.start_date|date:"F j, Y" }}
            {% if details.status == 'Show' %}
            <span class="badge show">Show</span>
            {% endif %}

        </div>
        <div class="detail-item">
            <i class="far fa-clock"></i>
            {{ details.start_date|date:"h:i A" }} - {{ details.end_date|date:"h:i A" }}
        </div>
        <div class="detail-item">
            <i class="far fa-user"></i>
            {{ details.clinician_name }}
        </div>
        <div class="detail-item location">
            <i class="fas fa-map-marker-alt"></i>
            {{ details.location }}
        </div>

        <div class="detail-item" id="recurring-summary" style="display: none;">
            {% include 'components/schedular/recurring-summary.html'%}
        </div>

        <div class="calendar-info">
            <!-- <a href="#" class="calendar-link">
                <i class="far fa-calendar"></i>
                Open in calendar
            </a> -->
        </div>

        <div class="services-section">
            <h3>Services</h3>
            <div class="services-list">
            </div>

        </div>

        <div class="billing-section">
            <h3>Billing</h3>
            <div class="price-info">
                <span>Appointment total</span>
                <span>{{ details.appointment_total }}</span>
            </div>
        </div>

        <!-- templates/components/event_notes/appointment_nav.html -->
        <div class="appointment-nav">
            <div class="billing-link">
                <!-- <a href="#" class="open-billing">
                    <i class="far fa-file-alt"></i>
                    Open billing
                </a> -->
            </div>

            {% if details.appointments_left > 2 %}
            <div class="appointments-header">
                <span class="title">Appointments</span>
                <span class="count"> ({{details.appointments_left}} appointments left)</span>
            </div>
            {% endif %}

            <div class="appointment-navigation">
                {% if details.previous_appointment.is_previous %}
                <div class="nav-item">
                    <div class="label">Previous
                        {% if details.next_appointment.status == 'Show' %}
                        <span class="badge show">Show</span>
                        {% endif %}
                    </div>
                    <div class="date">{{details.previous_appointment.start_date|date:"F j, Y"}}</div>
                    <div class="time">{{details.previous_appointment.start_date|date:"h:i A"}} - {{details.previous_appointment.end_date|date:"h:i A"}}</div>
                </div>
                {% else %}
                <div class="nav-item" style="background-color: #f8f9fa; align-content: center;">
                    <div class="message label">No previous appointments</div>
                </div>
                {% endif %}


                {% if details.next_appointment.is_next %}
                <div class="nav-item">
                    <div class="label">Next
                        {% if details.next_appointment.status == 'Show' %}
                        <span class="badge show">Show</span>
                        {% endif %}
                    </div>
                    <div class="date">{{details.next_appointment.start_date|date:"F j, Y"}}
                    </div>
                    <div class="time">{{details.next_appointment.start_date|date:"h:i A"}} -
                        {{details.next_appointment.end_date|date:"h:i A"}}</div>
                </div>
                {% else %}
                <div class="nav-item" style="background-color: #f8f9fa; align-content: center;">
                    <div class="message label">No more appointments scheduled</div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const noteData = {
            is_recurring: '{{details.is_recurring}}',
            recurring_string: '{{details.recurring_string}}',
            event_services: JSON.parse('{{details.event_services | safe}}')
        }
        const container = document.querySelector('.details-panel');
        bindRecurringSummary(noteData, container);
        bindEventServices(noteData.event_services);
    });
</script>