<div class="client-header">
    <div class="client-info">
        <div class="client-name">{{ note.client_name }}</div>
        <div class="client-email">{{ note.client_email }}</div>
    </div>
    <div class="action-buttons">
        <button>
            <i class="fas fa-paperclip"></i>
            Documentation
        </button>
        <button>
            <i class="fas fa-comment"></i>
            Message
        </button>
        <button class="btn-diagnosis">
            + Diagnosis
        </button>
    </div>
</div>