{% load crispy_forms_tags %}

<div class="notes-container">
    <h2 class="progress-note-header">Progress Note</h2>
    <div class="note-controls">
        <select class="template-select" id="templateSelect">
            {% for template in note.note_templates %}
                <option value="{{ template.id }}">{{ template.name }}</option>
            {% endfor %}
        </select>
        <!-- <button class="load-last-note">Load last note</button> -->
    </div>

    <form id="noteForm" class="note-form">
        <div id="dynamicFormFields">
            <!-- Dynamic form fields will be inserted here -->
        </div>
        <button type="submit" class="btn-save">Save</button>
    </form>
</div>
